body {
  font-family: sans-serif;
  margin: 0px;
}
/* HOME SEITE */
.home {
  background-image: url(https://images3.alphacoders.com/132/1322308.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-home {
  text-align: center;
  font-size: larger;
  font-weight: 800;
  padding: 80px;
  color: white;
}

/* ANIME LISTE */
.anime-liste {
  background-image: url(./Animeboy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ONE_PIECE */
.one-piece-animation {
  position: absolute;
  width: 0px;
  z-index: 10;
  transition: width 0.6s linear 0s;
}
.one-piece-img:hover + .one-piece-animation {
  width: 250px;
}

.one-piece-img {
  float: left;
  margin: 30px 10px 10px 5px;
  padding: 10px 10px 10px 10px;
  width: 200px;
  height: 290px;
}
.one-piece-p {
  margin: 80px 50px;
  padding: 50px 30px;
  width: 800px;
  text-align: center;
  font-size: large;
  color: rgb(255, 255, 255);
  border: 2px solid none;
  background-color:rgba(0, 0, 0, 0.527);
}
.one-piece-vid {
  float: right;
  margin-top: -350px;
  margin-right: 50px;
  width: 500px;
}

/* SAO */
.sao-img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 200px;
}
.sao-p {
  margin: 80px 50px;
  padding: 50px 50px;
  width: 800px;
  text-align: center;
  font-size: large;
  color: aliceblue;
  border: 2px solid none;
  background-color:rgba(0, 0, 0, 0.527);
}
.sao-vid {
  float: right;
  margin-top: -350px;
  margin-right: 50px;
  width: 500px;
}
/* DEMON SLAYER */
.ds-img {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
}
.ds-p {
  margin: 80px 50px;
  padding: 50px 50px;
  width: 800px;
  text-align: center;
  font-size: large;
  color: rgb(255, 255, 255);
  border: 2px solid none;
  background-color:rgba(0, 0, 0, 0.527);
}
.ds-vid {
  float: right;
  margin-top: -350px;
  margin-right: 50px;
  width: 500px;
}
/* SLIME */
.slime-img {
  float: left;
  margin: 40px 10px 10px 10px;
  width: 150px;
}
.slime-p {
  margin: 120px 50px;
  padding: 30px 50px 30px 50px;
  width: 800px;
  text-align: center;
  font-size: larger;
  color: rgb(255, 255, 255);
  border: 2px solid none;
  background-color:rgba(0, 0, 0, 0.527);
}
.slime-vid {
  float: right;
  margin-top: -340px;
  margin-right: 50px;
  width: 500px;
}

/* NGNL */
.ngnl-img {
  float: left;
  margin-top: 80px;
  margin-left: 10px;
  width: 160px;
}
.ngnl-p {
  margin: 65px 50px 50px 50px;
  padding: 45px 10px 50px 50px;
  width: 800px;
  text-align: center;
  font-size: large;
  color: aliceblue;
  border: 2px solid none;
  background-color:rgba(0, 0, 0, 0.527);
}
.ngnl-vid {
  float: right;
  margin-top: -310px;
  margin-right: 50px;
  width: 500px;
}

/* GAMES */

.games {
  background-image: url(https://cdn.wallpapersafari.com/8/1/FqEYG7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* -- Custom Property */
.gallery {
  --size: 200px;
  /* control the size */

  --gap: 10px;
  /* control the gap */

  --zoom: 2;
  /* control the scale factor */

  display: grid;
  gap: var(--gap);
  width: calc(3 * var(--size) + 2 * var(--gap));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery figure {
  margin: 0;
  padding: 0;
  position: relative;
}

.gallery figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.gallery figure:hover figcaption,
.gallery figure:focus figcaption {
  opacity: 1;
}

.gallery > figure img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(90%);
  transition: 0.35s linear;
}

.gallery figure:hover img,
.gallery figure:focus img {
  filter: grayscale(0);
  width: calc(var(--size) * var(--zoom));
  height: calc(var(--size) * var(--zoom));
}

.games {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

/* MANGA */
.manga {
  background-image: url(https://wallpaper.dog/large/20605538.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVIGATIONS LEISTE ALGEMEIN*/

h1 {
  text-align: center;
  padding: 50px;
  color: #ffff;
}
h2 {
  text-align: center;
  color: #ffff;
}

.nav-liste {
  background-color: rgb(82, 80, 216);
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-size: larger;
  position: fixed;
  border-radius: 10px;
}

.nav-liste li {
  display: inline-block;
  position: sticky;
}

.nav-liste li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}
.nav-liste li a:hover {
  color: rgb(13, 3, 70);
  padding: 10px;
}
.games div {
  margin: 22px 0px;
}
